/* FONTS */
@font-face {
  font-family: starjedi;
  src: url(../external_fonts/star-jedi_[allfont.net].ttf);
}

/* GENERAL STYLES */

* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-image: url(../images/space_background.jpg);
  background-position: center;
  background-size: cover;
}

.App-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: rgba(40, 44, 52, 0.4);
}

.jedi-title {
  font-family: starjedi;
  color: #FFE81F;
  margin: 2rem;
}

img {
  border: 1px solid #FFE81F;
  max-width: 100%;
  height: auto;
}

/* SCENARIO SELECTION & UPLOAD */

.upload-file-container {
  margin: 0.5rem 4rem;
}

.dropdown-box {
  display: flex;
  justify-content: space-around;
}

.dropdown {
  width: 11rem;
  padding: 0.1rem;
  margin: 15px;
  font-size: 1rem;
}

.upload-input {
  width: 15rem;
  padding: 0.1rem;
  margin: 15px;
  font-size: 1rem;
}

.submit-button {
  width: 10rem;
  padding: 0.1rem;
  margin: 15px;
  font-size: 1rem;
}


.dropdown-container {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 4rem;
}

.selection-section {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-around;
  align-content: flex-start;
  margin-bottom: 2rem;
}

/* SCENARIO & GALAXY DISPLAY */

.scenario-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0rem 1.5rem;
  width: 30%;
}

.scenario-detail {
  font-weight: bold;
}

.center-col-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row-wrap-flex {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-flow: row wrap;
}

.comparison-container {
  display: flex;
  justify-content: center;
  margin: 20px 20px;
}

.scenario-comparison {
  width: 55%;
  margin: 20px;
}

.planet-list {
  margin: 10px 50px;
}

.red-planet {
  color: red;
}

/* ODDS SECTION */

#odds-statement {
  margin: 30px;
}

.odds-section {
  overflow: hidden;
  margin: 50px;
}

/* TABLES */

.scenario-galaxy-table {
  width: 60%;
  margin: 0 1.5rem;
  border: 4px solid white;
  border-collapse: collapse;
  border-style: solid;
}

td {
  text-align: left;
  padding: 0px 10px;
}

.scenario-galaxy-table td {
  border: 1px solid white;
}

#planets-col {
  width: 20%;
}

#neighbors-col {
  width: 40%;
}

#hunters-col {
  width: 40%;
}